#wetv
  - DOMAIN-SUFFIX,iflix-images.akamaized.net,🍂 TW
  - DOMAIN-SUFFIX,iflix.com,🍂 TW
  - DOMAIN-SUFFIX,v.smtcdns.com,🍂 TW
  - DOMAIN-SUFFIX,v.smtcdns.net,🍂 TW
  - DOMAIN-SUFFIX,vv.video.qq.com,🍂 TW
  - DOMAIN-SUFFIX,wetvinfo.com,🍂 TW
  - DOMAIN-SUFFIX,wetv.vip,🍂 TW
#iqiyi
  - DOMAIN-SUFFIX,71.am,🍂 TW
  - DOMAIN-SUFFIX,71.am.com,🍂 TW
  - DOMAIN-SUFFIX,71edge.com,🍂 TW
  - DOMAIN-SUFFIX,71edge.net,🍂 TW
  - DOMAIN-SUFFIX,aianno.cn,🍂 TW
  - DOMAIN-SUFFIX,aianno.com,🍂 TW
  - DOMAIN-SUFFIX,aiqiyicloud-mgmt.com,🍂 TW
  - DOMAIN-SUFFIX,aiqiyicloud.com,🍂 TW
  - DOMAIN-SUFFIX,aiqiyicloud.net,🍂 TW
  - DOMAIN-SUFFIX,baiying.com,🍂 TW
  - DOMAIN-SUFFIX,gitv.cn,🍂 TW
  - DOMAIN-SUFFIX,gitv.tv,🍂 TW
  - DOMAIN-SUFFIX,ibkstore.com,🍂 TW
  - DOMAIN-SUFFIX,api.afdback.iq.com,🍂 TW
  - DOMAIN-SUFFIX,iq.com,🍂 TW
  - DOMAIN-SUFFIX,iqiyi.com,🍂 TW
  - DOMAIN-SUFFIX,iqiyi.demo.uwp,🍂 TW
  - DOMAIN-SUFFIX,iqiyiedge.com,🍂 TW
  - DOMAIN-SUFFIX,iqiyiedge.net,🍂 TW
  - DOMAIN-SUFFIX,iqiyipic.com,🍂 TW
  - DOMAIN-SUFFIX,jiangbing.cn,🍂 TW
  - DOMAIN-SUFFIX,pps.tv,🍂 TW
  - DOMAIN-SUFFIX,ppsimg.com,🍂 TW
  - DOMAIN-SUFFIX,ppstream.cn,🍂 TW
  - DOMAIN-SUFFIX,ppstream.com,🍂 TW
  - DOMAIN-SUFFIX,ppstream.com.cn,🍂 TW
  - DOMAIN-SUFFIX,ppstream.net,🍂 TW
  - DOMAIN-SUFFIX,ppstream.net.cn,🍂 TW
  - DOMAIN-SUFFIX,ppsurl.com,🍂 TW
  - DOMAIN-SUFFIX,qiyi.cn,🍂 TW
  - DOMAIN-SUFFIX,qiyi.com,🍂 TW
  - DOMAIN-SUFFIX,qiyipic.com,🍂 TW
  - DOMAIN-SUFFIX,qy.com,🍂 TW
  - DOMAIN-SUFFIX,qy.net,🍂 TW
  - DOMAIN-SUFFIX,suike.cn,🍂 TW
  - DOMAIN-KEYWORD,qiyi,🍂 TW
  - DOMAIN-KEYWORD,events.appsflyer.com,🍂 TW
  - IP-CIDR,101.224.0.0/13,🍂 TW
  - IP-CIDR,103.44.56.0/22,🍂 TW
  - IP-CIDR,118.26.120.0/24,🍂 TW
  - IP-CIDR,118.26.32.0/23,🍂 TW
  - IP-CIDR,119.176.0.0/12,🍂 TW
  - IP-CIDR,223.119.62.224/28,🍂 TW
  - IP-CIDR,23.40.241.251/32,🍂 TW
  - IP-CIDR,23.40.242.10/32,🍂 TW
  - IP-CIDR,159.138.102.146/32,🍂 TW
  - IP-CIDR,159.138.107.90/32,🍂 TW
  - IP-CIDR,52.77.62.30/32,🍂 TW
  - IP-CIDR,3.0.121.41/32,🍂 TW
  - IP-CIDR,3.1.161.42/32,🍂 TW
  - IP-CIDR,8.138.94.6/32,🍂 TW
  - IP-CIDR,203.74.95.137/32,🍂 TW
  - IP-CIDR,106.75.84.152/32,🍂 TW
#bahamut
  - DOMAIN,gamer-cds.cdn.hinet.net,🍂 TW
  - DOMAIN,gamer2-cds.cdn.hinet.net,🍂 TW
  - DOMAIN-SUFFIX,bahamut.com.tw,🍂 TW
  - DOMAIN-SUFFIX,gamer.com.tw,🍂 TW
  - DOMAIN,d17lx9ucc6k9fc.cloudfront.net,🍂 TW
  - DOMAIN,d3c7rimkq79yfu.cloudfront.net,🍂 TW
  - DOMAIN-SUFFIX,chocotv.com.tw,🍂 TW
#linetv
  - DOMAIN-SUFFIX,line-cdn.net,🍂 TW
  - DOMAIN-SUFFIX,line-scdn.net,🍂 TW
  - DOMAIN-SUFFIX,linetv.tw,🍂 TW
  - PROCESS-NAME,com.linecorp.linetv,🍂 TW
  - DOMAIN,p16-tiktokcdn-com.akamaized.net,🍂 TW
  - DOMAIN-SUFFIX,amemv.com,🍂 TW
  - DOMAIN-SUFFIX,byteoversea.com,🍂 TW
  - DOMAIN-SUFFIX,ibytedtos.com,🍂 TW
  - DOMAIN-SUFFIX,ibyteimg.com,🍂 TW
  - DOMAIN-SUFFIX,ipstatp.com,🍂 TW
  - DOMAIN-SUFFIX,muscdn.com,🍂 TW
  - DOMAIN-SUFFIX,musical.ly,🍂 TW
  - DOMAIN-SUFFIX,sgpstatp.com,🍂 TW
  - DOMAIN-SUFFIX,snssdk.com,🍂 TW
#tiktok
  - DOMAIN-SUFFIX,tik-tokapi.com,🍂 TW
  - DOMAIN-SUFFIX,tiktok.com,🍂 TW
  - DOMAIN-SUFFIX,tiktokcdn.com,🍂 TW
  - DOMAIN-SUFFIX,tiktokv.com,🍂 TW
  - DOMAIN-KEYWORD,-tiktokcdn-com,🍂 TW
#bilibili
  - DOMAIN-SUFFIX,acg.tv,🍂 TW
  - DOMAIN-SUFFIX,acgvideo.com,🍂 TW
  - DOMAIN-SUFFIX,b23.tv,🍂 TW
  - DOMAIN-SUFFIX,baka.im,🍂 TW
  - DOMAIN-SUFFIX,bigfun.cn,🍂 TW
  - DOMAIN-SUFFIX,bigfunapp.cn,🍂 TW
  - DOMAIN-SUFFIX,bili22.cn,🍂 TW
  - DOMAIN-SUFFIX,bili2233.cn,🍂 TW
  - DOMAIN-SUFFIX,bili23.cn,🍂 TW
  - DOMAIN-SUFFIX,bili33.cn,🍂 TW
  - DOMAIN-SUFFIX,biliapi.com,🍂 TW
  - DOMAIN-SUFFIX,biliapi.net,🍂 TW
  - DOMAIN-SUFFIX,bilibili.cc,🍂 TW
  - DOMAIN-SUFFIX,bilibili.cn,🍂 TW
  - DOMAIN-SUFFIX,bilibili.co,🍂 TW
  - DOMAIN-SUFFIX,bilibili.com,🍂 TW
  - DOMAIN-SUFFIX,bilibili.tv,🍂 TW
  - DOMAIN-SUFFIX,bilibiligame.cn,🍂 TW
  - DOMAIN-SUFFIX,bilibiligame.net,🍂 TW
  - DOMAIN-SUFFIX,bilibilipay.cn,🍂 TW
  - DOMAIN-SUFFIX,bilibilipay.com,🍂 TW
  - DOMAIN-SUFFIX,biligame.cn,🍂 TW
  - DOMAIN-SUFFIX,biligame.com,🍂 TW
  - DOMAIN-SUFFIX,biligame.net,🍂 TW
  - DOMAIN-SUFFIX,biliplus.com,🍂 TW
  - DOMAIN-SUFFIX,bilivideo.cn,🍂 TW
  - DOMAIN-SUFFIX,bilivideo.com,🍂 TW
  - DOMAIN-SUFFIX,bilivideo.net,🍂 TW
  - DOMAIN-SUFFIX,corari.com,🍂 TW
  - DOMAIN-SUFFIX,dyhgames.com,🍂 TW
  - DOMAIN-SUFFIX,hdslb.com,🍂 TW
  - DOMAIN-SUFFIX,hdslb.com.w.kunlunhuf.com,🍂 TW
  - DOMAIN-SUFFIX,hdslb.com.w.kunlunpi.com,🍂 TW
  - DOMAIN-SUFFIX,hdslb.net,🍂 TW
  - DOMAIN-SUFFIX,hdslb.org,🍂 TW
  - DOMAIN-SUFFIX,im9.com,🍂 TW
  - DOMAIN-SUFFIX,mcbbs.net,🍂 TW
  - DOMAIN-SUFFIX,mincdn.com,🍂 TW
  - DOMAIN-SUFFIX,sharejoytech.com,🍂 TW
  - DOMAIN-SUFFIX,smtcdns.net,🍂 TW
  - DOMAIN-SUFFIX,upos-hz-mirrorakam.akamaized.net,🍂 TW
  - DOMAIN-SUFFIX,uposdash-302-bilivideo.yfcdn.net,🍂 TW
  - DOMAIN-SUFFIX,yo9.com,🍂 TW
  - IP-CIDR,106.75.74.76/32,🍂 TW
  - IP-CIDR,111.206.25.147/32,🍂 TW
  - IP-CIDR,119.29.29.29/32,🍂 TW
  - IP-CIDR,119.3.238.64/32,🍂 TW
  - IP-CIDR,120.92.108.182/32,🍂 TW
  - IP-CIDR,120.92.113.99/32,🍂 TW
  - IP-CIDR,120.92.153.217/32,🍂 TW
  - IP-CIDR,128.1.62.200/31,🍂 TW
  - IP-CIDR,134.175.207.130/32,🍂 TW
  - IP-CIDR,150.116.92.250/32,🍂 TW
  - IP-CIDR,164.52.76.18/32,🍂 TW
  - IP-CIDR,203.107.1.33/32,🍂 TW
  - IP-CIDR,203.107.1.34/32,🍂 TW
  - IP-CIDR,203.107.1.65/32,🍂 TW
  - IP-CIDR,203.107.1.66/32,🍂 TW
  - IP-CIDR,45.43.32.234/32,🍂 TW
